/* Navbar Custom Styles */
.ut {
    text-decoration: none;
    color: goldenrod;
    font-size: 1.5rem;
}

/* General Navbar Styles */
.navbar {
    padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: goldenrod;
}

/* Mobile Styles */
@media (max-width: 768px) {
    /* Hide the brand "Uttam Shukla" */
    .navbar-brand {
        display: none;
    }

    /* Ensure navbar items are visible in a row */
    .navbar-collapse {
        display: flex !important;
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .navbar-nav .nav-item {
        flex: 1;
        text-align: center;
        margin: 0 2px;
    }

    .navbar-nav .nav-link {
        font-size: 5px;
        padding: 8px;
        color:#fff;
        text-decoration: none;
    }

    .navbar-nav .nav-link:hover {
        background-color: rgba(240, 239, 235, 0.1);
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
    }

    /* Hide the navbar-toggler */
    .navbar-toggler {
        display: none;
    }
}
