.techstack {
    text-align: center;
    padding: 70px 20px;
    color:whitesmoke;
}

.techstack h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: whitesmoke;
}

.techstack .description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: black;
    
}

.icon {
    border: 5px solid rgb(196, 15, 15);
    box-shadow: 5px 5px 1px rgba(241, 238, 238, 0.5);
    background-color:rgb(234, 222, 222);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    
}

.icon img {
    width: 50px;
    height: 50px;
    
    
}

.icon p {
    margin-top: 10px;
    font-size: 0.9rem;
    
}

@media (max-width: 768px) {
    
}